@font-face {
  font-family: "Jura-Bold";
  src: url(/fonts/Jura-Bold.ttf?da05898009e0d7b6fbf889a9f2b3dd19) format("truetype");
}

@font-face {
  font-family: "Jura-SemiBold";
  src: url(/fonts/Jura-SemiBold.ttf?ffd2baf7a7d70b4c6d5e3ff14bf81730) format("truetype");
}

@font-face {
  font-family: "Jura-Medium";
  src: url(/fonts/Jura-Medium.ttf?12a5619b11de6c2d3f7378e92571081d) format("truetype");
}

@font-face {
  font-family: "Jura-Light";
  src: url(/fonts/Jura-Light.ttf?d227557731796f0c5b98cb3b6f5350fa) format("truetype");
}

@font-face {
  font-family: "Jura-Regular";
  src: url(/fonts/Jura-Regular.ttf?a6754acd82bc0192141e19438f48841c) format("truetype");
}

.dreamPage .steps-list .step-item {
  float: left;
  width: 570px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.dreamPage .steps-list .step-item img {
  border-radius: 100%;
  margin-right: 25px;
  width: 100px;
  height: 100px;
}

.dreamPage .steps-list .step-item:nth-child(2n) {
  float: right;
}

.dreamPage .steps-list .step-item:nth-child(2n):before {
  height: 2px;
  width: 32px;
  left: -16px;
  right: initial;
  top: 0;
  bottom: 0;
}

.dreamPage .steps-list .step-item:nth-child(2n):after {
  width: 2px;
  height: 205px;
  left: -16px;
  right: initial;
  top: 0;
  bottom: 0;
}

.dreamPage .steps-list .step-item:nth-child(2n+1):after {
  height: 0px;
}

.dreamPage .steps-list .step-item:nth-child(2) {
  margin-top: 102px;
}

.dreamPage .steps-list .step-item .step-date {
  font-family: "Jura-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.dreamPage .steps-list .step-item .step-title {
  font-family: "Jura-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 26px;
  color: #FFFFFF;
}

.dreamPage .steps-list .step-item .step-description {
  font-family: "Jura-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.dreamPage .steps-list .step-item:before,
.dreamPage .steps-list .step-item:after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
}

.dreamPage .steps-list .step-item:before {
  height: 2px;
  width: 32px;
  right: -16px;
  top: 0;
  bottom: 0;
}

.dreamPage .steps-list .step-item:after {
  width: 2px;
  height: 100%;
  right: -16px;
  top: 0;
  bottom: 0;
}

.dreamPage .steps-list .step-item:first-child:after {
  height: 0%;
}

.dreamPage .steps-list .step-item:last-child:after {
  height: 102px;
  top: -12px;
  bottom: initial;
}

